<h1 id="banks">Bancos</h1>
Lista de bancos soportados por Finciero API. En las peticiones hacia el API se debe indicar a qué banco
pertenece la cuenta en cuestión, para ésto, se debe adjuntar uno de los Finciero IDs mostrados en la siguiente tabla.

<table>
  <thead>
    <th>Banco</th>
    <th>Finciero ID</th>
  </thead>
  <tbody>
    <% data.bank_list[I18n.locale].each do |attribute| %>
    <tr>
      <td> <%= attribute.bank %> </td>
      <td>
        <b><%= attribute.FinID %></b>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<aside class="notice">
Ver ejemplo de utilización en sección <a href="?shell#sub-account-scrape" style="color:#ffffff"><b>Subcuentas</b></a>
</aside>
