<h1 id="authentication"><%= t('authentication.title')%></h1>

<%= t('authentication.header')%>

```shell
$ curl https://... -H 'Authorization: Bearer <%= t('token_placeholder') %>'
```

```ruby
```

<%= t('authentication.footer')%>
