---
title: API Doc

language_tabs:
  - shell: curl
  - ruby
  - javascript
  - go

toc_footers:
  - <a href='#'>Sign Up for a Developer Key</a>
  - <a href='https://github.com/tripit/slate'>Documentation Powered by Slate</a>

includes:
  - authentication
  - sub_accounts
  - transactions
  - errors

search: true
---

<h1 id="introduction">Finciero API</h1>

Finciero's API is the primer platform to extract bank information. Accourding to our plans, the extracted data could be different output with more details. [see plans and features](https://api.finciero.com/pricing).

<h2 id="overview">Overview</h2>
Finciero's API is built around [REST](https://en.wikipedia.org/wiki/Representational_State_Transfer), making it predictable and easy to use. Our API responses make strong use of HTTP status codes in order to identify multiple kind of errors. Also, all our responses are [JSON](http://json.com/) objects, including our errors.

Currently our API works as follows:

- Client requests the SubAccount list.
- The API responds that the scraping process has started.

After the last point, the client has no more to do, the scraping process is
working asynchronously, so you can expect to receive the data, at most, 30 seconds
after the scraping started. When the API receives the requested data from
our scraping internal service, wether it has been successfully scraped or not,
the information is sent to a URL specified by the client, knowns as **callbacks**.

The following sequence diagram explains the above process:

![Sequence Diagram, Scrape Sub Accounts](sub_accounts_sd_en.png)

When requesting transactions, it can take from 30 seconds to 2 minutes, depending
on how many transactions the scraped accounts has.

![Sequence Diagram, Scrape Transactions](transactions_sd_en.png)

<h2 id="concepts">Concepts</h2>

- **callbacks**: Basically is an `endpoint/url`, it belong to a customer and is where our API deliver the extracted data.
- **scraper**: This is a program that handle the extraction logic.
- **meta**: Any aditional data, this doesn't belong to our system, is related to the customer scope.

<h2 id="structure">Estructura</h2>

We cover this point in later sections, but in general, **Finciero API** can be consumed through HTTP requests, like POST or GET.

All requests are made through `<%= data.examples.url %>`

<h2 id="future">Future work</h2>

We plan to have SDKs for multiple languages, like ruby, golang and nodejs,
this will make the comunication between your application and our API easier.
