---
title: API Doc

language_tabs:
  - shell: curl
  - ruby
  - javascript
  - go

toc_footers:
  - <a href='#'>Sign Up for a Developer Key</a>
  - <a href='https://github.com/tripit/slate'>Documentation Powered by Slate</a>

includes:
  - authentication
  - sub_accounts
  - transactions
  - errors

search: true
---

<h1 id="introduction">Finciero API</h1>

Finciero's API is the primer platform to extract bank's information. According to our plans, the extracted data could be enriched, for more details [see plans and features](https://api.finciero.com/pricing).

<h2 id="overview">Overview</h2>
Finciero's API is built around [REST](https://en.wikipedia.org/wiki/Representational_State_Transfer), making it predictable and easy to use. Our API responses make strong use of HTTP status codes in order to identify multiple kind of errors. Also, all our responses are [JSON](http://json.com/) objects, including our errors.

Currently our API works as follows:

- Client requests the SubAccount list.
- The API responds that the scraping process has started.

After the last point, the client has no more to do, the scraping process is
working asynchronously, so you can expect to receive the data, at most, 30 seconds
after the scraping started. When the API receives the requested data from
our scraping internal service, wether it has been successfully scraped or not,
the information is sent to a URL specified by the client, knowns as **callbacks**.

The following sequence diagram explains the above process:

![Sequence Diagram, Scrape Sub Accounts](sub_accounts_sd_en.png)

When requesting transactions, it can take from 30 seconds to 2 minutes, depending
on how many transactions the scraped accounts has.

![Sequence Diagram, Scrape Transactions](transactions_sd_en.png)

<h2 id="concepts">Concepts</h2>

- **callbacks**: Is basically an `endpoint/url`, it belongs to a customer and is where our API will deliver the extracted data.
- **scraper**: This is a program that handles the extraction logic.
- **meta**: Is a JSON object that contains any aditional data that is not directly relevant to work, like filters or even data related to your product/request.

If you want to send persistant information related to the data that your are requesting us to scrape, i.e., you want
to identify that the transactions belongs to a user within your system,
you can use a reserved key inside the **meta** JSON object called **client** by assigning the needed information, see example on the right side.

> ### Meta example

> Assign your json object to the `client` key inside `meta`.

<% code('json') do%>
{ 
  "meta": {
    "client": {
      "email": "foo@test.com"
    }
  }
}
<% end %>

In summary, the **client** key is reserved to you, you can add any json valid object and it'll be echoed back to you with each response related to the requested data.

> More examples will be added soon.

<h2 id="structure">Structure</h2>

We cover this point in later sections, but in general, **Finciero API** can be consumed through HTTP requests.

All requests are made through `<%= data.examples.url %>` url.

<h2 id="future">Future work</h2>

We plan to have SDKs for multiple languages, like ruby, golang and nodejs,
this will make the comunication between your application and our API easier.
